body {
    color: theme(colors.dark);
    background: theme(colors.light);
    font-size: theme(fontSize.1);
    font-family: theme(fontFamily.sans);
    line-height: theme(lineHeight.2);
    letter-spacing: theme(letterSpacing.00);
}

h1,
h2,
h3 {
    line-height: theme(lineHeight.0);
    letter-spacing: theme(letterSpacing.000);
}

h1 {
    font-size: theme(fontSize.5);
}

h2 {
    font-size: theme(fontSize.4);
}

h3 {
    font-size: theme(fontSize.3);
}

p,
li,
blockquote:not([class]) {
    max-inline-size: theme(contentWidth.4);
}

h1,
h2,
h3 {
    max-inline-size: theme(contentWidth.1);
}

blockquote:not([class]) {
    font-family: theme(fontFamily.serif);
    font-size: theme(fontSize.2);
}

blockquote:not([class]) p:last-of-type {
    font-family: theme(fontFamily.sans);
    font-size: theme(fontSize.1);
    font-weight: theme(fontWeight.normal);
}

svg {
    height: 2ex;
    width: auto;
    flex: none;
}

[role="list"] {
    padding: 0;
}

/* Base interactive elements */

a {
    color: currentcolor;
}

a:hover {
    text-decoration: none;
}

:focus {
    outline: 2px solid;
    outline-offset: 0.3ch;
}

:target {
    scroll-margin-top: 2ex;
}

main:focus {
    outline: none;
}

/* Base selection styles that invert whatever colours are rendered */
::selection {
    background: theme(colors.dark);
    color: theme(colors.light);
}

/*  ### CODE ### */
code,
kbd,
samp,
pre {
    /* color: theme(colors.dark); */
    font-family: theme(fontFamily.mono);
    font-weight: theme(fontWeight.semibold);
    font-size: theme(fontSize.1);
    max-inline-size: max-content;
    min-inline-size: 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    tab-size: 4;
    text-align: left;
    line-height: theme(lineHeight.3);
    hyphens: none;
}

pre {
    color: theme(colors.light);
    background-color: theme(colors.dark);
    padding-block: 0.5em;
    padding-inline: 1em;
    border-radius: theme(borderRadius.lg);
}

:not(pre) > code {
    color: theme(colors.dark);
    padding-block: 0.1em;
    padding-inline: 0.2em;
    border-radius: theme(borderRadius.md);
}

pre code::before {
    content: none;
}

pre code::after {
    content: none;
}

code::before {
    content: "`";
}

code::after {
    content: "`";
}

kbd,
var {
    padding-block: 0.01em;
    padding-inline: 0.4em;
    border: solid 2px;
    border-radius: theme(borderRadius.md);
}
