.bg-teal {
    background-color: hsl(175 84% 32%/ 0.5);
}

.bg-red {
    background-color: hsl(0 84% 60%/ 0.6);
}

.bg-gray {
    background-color: rgb(209 213 219);
}

.bs-80 {
    block-size: 80rem;
}

.p-0 {
    padding: 0;
}

.gap-0 {
    gap: 0;
}

.box-outlined {
    border-width: 2px;
}

.debug {
    outline: var(--border-size-3) solid;
    outline-offset: -var(--space-2xs);
    outline-color: var(--neutral-600);
}
